@font-face {
  font-family: 'Press Start';
  src: url("/PressStart2P.ttf") format("truetype");
}

body {
  font-family: Press Start, sans-serif;
  line-height: 1.6em;
  margin: 0;
}

body.infocus #explain {
  display: none;
}

body:not(.infocus) #handwrap {
  display: none;
}

a {
  text-decoration: none;
}

#handwrap {
  position: absolute;
  top: 10em;
  left: 10em;
  transition: .2s;
}

#handwrap.pickup #hand {
  background-image: url("/pixicons/fist.svg");
  background-position-y: .2rem;
  animation: unset;
  margin-top: 1em;
}

#handwrap #hand {
  position: relative;
  top: 0;
  width: 2em;
  height: 2em;
  background-image: url("/pixicons/palm.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  animation: breathe 3s ease-in-out infinite;
  transition: margin .2s;
}

#explain {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  align-items: center;
}

#explain article {
  margin: 0 auto;
  max-width: 40em;
}

#explain ul {
  padding: 0;
}

#explain li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

#explain li img:first-of-type {
  margin-right: 1rem;
  position: relative;
  bottom: -.2rem;
}

#kanban {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: calc(100vh - 2.2rem) 2rem;
  min-height: 100vh;
  grid-gap: .2rem;
}

#kanban > section {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background-color: #ebeef6;
}

#kanban > section > * {
  padding: .4rem;
}

#kanban > section > header {
  background-color: #4c6ab0;
  color: white;
}

#kanban > section > header h1 {
  margin: .4rem 0 0;
}

#kanban > section > section {
  overflow-y: scroll;
  flex-grow: 1;
}

#kanban > section > section .card {
  background-color: azure;
  border-radius: .3rem;
  padding: .4rem .6rem;
  margin: 0 0 .2rem;
  transition: margin .2s;
  font-weight: 300;
}

#kanban > section > section .card.active {
  font-weight: 400;
}

#kanban > section > section .card.active.pickup {
  margin: 1em 0;
  font-weight: 500;
}

#kanban > section > section .card.active.pickup .show-detail {
  height: 3em;
}

#kanban > section > section .card.active.pickup.edit .show-detail {
  height: 0;
}

#kanban > section > section .card.active.pickup.edit .details {
  height: auto;
}

#kanban > section > section .card.empty {
  text-align: center;
}

#kanban > section > section .card + .empty {
  display: none;
}

#kanban > section > section .card .show-detail {
  font-size: .6em;
  text-align: center;
  overflow: hidden;
  height: 0;
  transition: height .5s;
  color: rgba(76, 106, 176, 0.5);
}

#kanban > section > section .card .details {
  font-size: .8em;
  overflow: hidden;
  height: 0;
  color: rgba(76, 106, 176, 0.8);
}

#kanban > footer {
  grid-column: span 3;
}

#kanban > footer div {
  display: inline-block;
}

@keyframes breathe {
  25% {
    top: .2rem;
  }
  75% {
    top: -.2rem;
  }
}

p img, li img {
  display: inline;
  max-width: 2em;
}

p .key, li .key {
  display: inline-block;
}

.key {
  background-color: #ebeef6;
  border: 0.2rem solid #4c6ab0;
  padding: .1rem .4rem;
  margin-right: .1rem;
}
