@font-face {
  font-family: 'Press Start';
  src: url("/PressStart2P.ttf") format("truetype");
}

body {
  font-family: Press Start, sans-serif;
  line-height: 1.6em;
  margin: 0;
}

body.infocus:not(.unexplained) #explain {
  display: none;
}

body:not(.infocus) #handwrap, body.unexplained #handwrap {
  display: none;
}

body:not(.infocus) #explain .first {
  display: none;
}

body.unexplained #explain .focus {
  display: none;
}

body::after {
  content: ' ';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 45;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
}

body.solo::after {
  opacity: 1;
  transition: opacity .4s;
  pointer-events: all;
}

a {
  text-decoration: none;
}

#handwrap {
  position: absolute;
  top: 10em;
  left: 10em;
  transition: .2s;
  z-index: 99;
}

#handwrap.pickup #hand {
  background-image: url("/pixicons/fist.svg");
  background-position-y: .2rem;
  animation: unset;
}

#handwrap.point #hand {
  background-image: url("pixicons/pointing_finger.svg");
  animation: unset;
  transform: rotate(0);
}

#handwrap.forbidden #forbidden {
  opacity: 1;
  transition: opacity 0;
}

#handwrap.edit #control {
  display: block;
  opacity: .8;
  color: #4c6ab0;
}

#handwrap.writing #hand {
  background-image: url("/pixicons/hourglass.svg");
}

#handwrap.writing #control::after {
  content: 'ALT+A';
  left: -3em;
}

#handwrap.working #hand {
  background-image: url("/pixicons/stars.svg");
}

#handwrap #hand, #handwrap #forbidden {
  position: relative;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

#handwrap #hand {
  width: 2em;
  height: 2em;
  background-image: url("/pixicons/palm.svg");
  transform: rotate(180deg);
  animation: breathe 3s ease-in-out infinite;
  transition: margin .2s;
}

#handwrap #forbidden {
  background-image: url("/pixicons/forbidden.svg");
  width: 1.6em;
  height: 1.6em;
  top: -.6em;
  left: .2em;
  opacity: 0;
  transition: opacity .2s;
}

#handwrap #control {
  top: .6em;
  display: none;
  position: relative;
}

#handwrap #control::after {
  position: relative;
  text-align: right;
  content: 'D';
}

#explain {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: scroll;
  display: flex;
  align-items: center;
}

#explain article {
  margin: 0 auto;
  max-width: 40em;
}

#explain ul {
  padding: 0;
}

#explain li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

#explain li img:first-of-type {
  margin-right: 1rem;
  position: relative;
  bottom: -.2rem;
}

#explain .focus {
  background-color: #4c6ab0;
  padding: .6rem;
  color: white;
}

#kanban {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  height: 100vh;
  grid-gap: .2rem;
}

#kanban > section {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background-color: #ebeef6;
}

#kanban > section > * {
  padding: .4rem;
}

#kanban > section > header {
  background-color: #4c6ab0;
  color: white;
}

#kanban > section > header h1 {
  margin: .4rem 0 0;
}

#kanban > section > section {
  overflow-y: scroll;
  flex-grow: 1;
}

#kanban > footer {
  grid-column: span 3;
}

#kanban > footer div {
  display: inline-block;
}

@keyframes breathe {
  25% {
    top: .2rem;
  }
  75% {
    top: -.2rem;
  }
}

p img, li img {
  display: inline;
  max-width: 2em;
}

p .key, li .key {
  display: inline-block;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.visuallyhidden.focusable:focus-within {
  position: initial;
  overflow: initial;
  clip: initial;
  height: initial;
  width: initial;
  margin: initial;
  padding: initial;
  border: initial;
}

.key {
  background-color: #ebeef6;
  border: 0.2rem solid #4c6ab0;
  padding: .1rem .4rem;
  margin-right: .1rem;
}

.card {
  background-color: #92a5d0;
  border-radius: 0 .3rem .3rem .3rem;
  padding: .4rem .6rem;
  margin: 1.4em 0 .2rem;
  transition: .4s;
  font-weight: 300;
  position: relative;
}

.card::before {
  content: ' ';
  position: absolute;
  top: -1em;
  left: 0;
  height: 1em;
  width: 8em;
  border-radius: .3rem .3rem 0 0;
  background-color: #8096c8;
}

.card.active {
  font-weight: 400;
}

.card.active.pickup {
  font-weight: 500;
}

.card.active.pickup::before {
  background-color: #4c6ab0;
}

.card.active.pickup > a {
  bottom: 0;
  color: #4c6ab0;
}

.card.active.pickup.full {
  margin: 0;
}

.card.active.pickup.full + .card {
  margin-top: 6em;
}

.card.active.pickup .show-detail {
  opacity: 1;
}

.card.active.pickup.edit .show-detail {
  height: 0;
  margin: 0;
}

.card.active.pickup.edit > a {
  display: none;
}

.card.active.pickup.edit .details {
  height: auto;
}

.card.full {
  position: absolute;
  z-index: 70;
}

.card.full::before {
  content: ' ';
  position: absolute;
  top: -1.8em;
  left: 0;
  height: 1.8em;
  width: 14em;
  border-radius: .3rem .3rem 0 0;
  background-color: #8096c8;
}

.card.full form {
  margin-top: 2rem;
}

.card.empty {
  text-align: center;
}

.card + .empty {
  display: none;
}

.card .show-detail {
  opacity: 0;
  font-size: .6em;
  text-align: center;
  overflow: hidden;
  transition: opacity .5s;
  color: rgba(76, 106, 176, 0.7);
  margin: 0;
}

.card .details {
  font-size: .8em;
  overflow: hidden;
  height: 0;
  color: rgba(76, 106, 176, 0.8);
}

.card > a {
  position: relative;
  bottom: -.7em;
  color: white;
  transition: .2s;
}

.card > a:focus {
  outline: none;
  color: #4c6ab0;
}

.card form {
  max-width: 40em;
  margin: 0 auto;
}

label {
  padding: 1rem;
  font-weight: normal;
  display: block;
  font-size: 1.2em;
  background-color: white;
  cursor: pointer;
}

input:not([type=submit]), textarea, select {
  margin-top: .5em;
  padding: 0.5em .6em;
  font-size: 1.4em;
  border: 0.13rem solid white;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: .2rem;
  max-width: 20em;
  display: block;
  margin-bottom: 1em;
  color: rgba(0, 0, 0, 0.7);
}

input:not([type=submit]):not([type=checkbox]):not([type=radio]), textarea:not([type=checkbox]):not([type=radio]), select:not([type=checkbox]):not([type=radio]) {
  width: 100%;
}

input:not([type=submit]).missing, textarea.missing, select.missing {
  border: 1px solid red;
}

input:not([type=submit]):invalid, textarea:invalid, select:invalid {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.05);
}

input:not([type=submit]):placeholder-shown, textarea:placeholder-shown, select:placeholder-shown {
  border-color: rgba(76, 106, 176, 0.1);
  background-color: rgba(76, 106, 176, 0.05);
}

input:not([type=submit]):placeholder-shown:required, textarea:placeholder-shown:required, select:placeholder-shown:required {
  border-color: #4c6ab0;
}

input:not([type=submit]):valid:not(:placeholder-shown):not(select), textarea:valid:not(:placeholder-shown):not(select), select:valid:not(:placeholder-shown):not(select) {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.05);
}

input[type=radio], input[type=checkbox] {
  display: inline;
  margin: 0 1rem 0 0;
}

input[type=radio] + label, input[type=checkbox] + label {
  display: inline;
}

textarea {
  min-height: 8em;
}

input[type=submit] {
  display: none;
}
