@font-face {
    font-family: 'Press Start';
    src: url('/PressStart2P.ttf') format('truetype');
}

$inputcolor: #6ab04c;
$maincolor: adjust-hue($inputcolor, 120);
$mainLight: lighten($maincolor, 45);
$contrastcolor: white;

body {
	font-family: Press Start, sans-serif;
	line-height: 1.6em;
	margin: 0;
	&.infocus {
		#explain {
			display: none;
		}
	}
	&:not(.infocus) {
		#handwrap {
			display: none;
		}
	}
}

a {
	text-decoration: none;
}

#handwrap {
	position: absolute;
	top: 10em;
	left: 10em;
	transition: .2s;
	&.pickup {
		#hand {
			background-image: url('/pixicons/fist.svg');
			background-position-y: .2rem;
			animation: unset;
			margin-top: 1em;
		}
	}
	#hand {
		position: relative;
		top: 0;
		width: 2em;
		height: 2em;
		background-image: url('/pixicons/palm.svg');
		background-size: contain;
		background-repeat: no-repeat;
		transform: rotate(180deg);
		animation: breathe 3s ease-in-out infinite;
		transition: margin .2s;	
	}
}

#explain {
	position: absolute;
    background-color: rgba(255, 255, 255, .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	overflow-y: scroll;
	display: flex;
	align-items: center;
	article {
		margin: 0 auto;
		max-width: 40em;
	}
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
		padding: 0;
		margin-bottom: 1rem;
		img:first-of-type {
			margin-right: 1rem;
			position: relative;
			bottom: -.2rem;
		}
	}
}

#kanban {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: calc(100vh - 2.2rem) 2rem;
	min-height: 100vh;
	grid-gap: .2rem;
	> section {
		display: flex;
		flex-direction: column;
		max-height: 100vh;
		background-color: $mainLight;
		> * {
			padding: .4rem;
		}
		> header {
			background-color: $maincolor;
			color: $contrastcolor;
			h1 {
				margin: .4rem 0 0;
			}
		}
		> section {
			overflow-y: scroll;
			flex-grow: 1;
			.card {
				background-color: azure;
				border-radius: .3rem;
				padding: .4rem .6rem;
				margin: 0 0 .2rem;
				transition: margin .2s;
				font-weight: 300;
				&.active {
					font-weight: 400;
					&.pickup {
						margin: 1em 0;
						font-weight: 500;
						.show-detail {
							height: 3em;
						}
						&.edit {
							.show-detail {
								height: 0;
							}
							.details {
								height: auto;
							}
						}
					}
				}
				&.empty {
					text-align: center;
				}
				& + .empty {
					display: none;
				}
				.show-detail {
					font-size: .6em;
					text-align: center;
					overflow: hidden;
					height: 0;
					transition: height .5s;
					color: rgba($maincolor, .5);
				}
				.details {
					font-size: .8em;
					overflow: hidden;
					height: 0;
					color: rgba($maincolor, .8);
				}
			}
		}
	}
	> footer {
		grid-column: span 3;
		div {
			display: inline-block
		}
	}
}

@keyframes breathe {
	25% {
		top: .2rem;
	}
	75% {
		top: -.2rem;
	}
}

p, li {
	img {
		display: inline;
		max-width: 2em;
	}
	.key {
		display: inline-block;
	}
}

.key {
	background-color: $mainLight;
	border: .2rem solid $maincolor;
	padding: .1rem .4rem;
	margin-right: .1rem;
}