@font-face {
    font-family: 'Press Start';
    src: url('/PressStart2P.ttf') format('truetype');
}

$inputcolor: #6ab04c;
$maincolor: adjust-hue($inputcolor, 120);
$mainLight: lighten($maincolor, 45);
$contrastcolor: white;
$error: red;
$confirm: green;
$textcolor: black;

body {
	font-family: Press Start, sans-serif;
	line-height: 1.6em;
	margin: 0;
	// padding-bottom: 2em;
	&.infocus:not(.unexplained) {	
		#explain {
			display: none;
		}
	}
	&:not(.infocus), &.unexplained {
		#handwrap {
			display: none;
		}
	}
	&:not(.infocus) {
		#explain {
			.first {
				display: none;
			}
		}
	}
	&.unexplained {
		#explain .focus {
			display: none;
		}
	}
	&::after {
		content: ' '; 
		position: absolute;
		background-color: rgba(0, 0, 0, .6);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 45;
		opacity: 0;
		transition: opacity .3s;
		pointer-events: none;
	}
	&.solo {
		&::after {
			opacity: 1;
			transition: opacity .4s;
			pointer-events: all;
		}
	}
}

a {
	text-decoration: none;
}

#handwrap {
	position: absolute;
	top: 10em;
	left: 10em;
	transition: .2s;
	z-index: 99;
	&.pickup {
		#hand {
			background-image: url('/pixicons/fist.svg');
			background-position-y: .2rem;
			animation: unset;
			// margin-top: 1em;
		}
	}
	&.point {
		#hand {
			background-image: url('pixicons/pointing_finger.svg');
			animation: unset;
			transform: rotate(90deg);
		}
	}
	#hand {
		position: relative;
		top: 0;
		width: 2em;
		height: 2em;
		background-image: url('/pixicons/palm.svg');
		background-size: contain;
		background-repeat: no-repeat;
		transform: rotate(180deg);
		animation: breathe 3s ease-in-out infinite;
		transition: margin .2s;	
	}
}

#explain {
	position: absolute;
    background-color: rgba(255, 255, 255, .8);
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	z-index: 10;
	overflow-y: scroll;
	display: flex;
	align-items: center;
	article {
		margin: 0 auto;
		max-width: 40em;
	}
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
		padding: 0;
		margin-bottom: 1rem;
		img:first-of-type {
			margin-right: 1rem;
			position: relative;
			bottom: -.2rem;
		}
	}
	.focus {
		background-color: $maincolor;
		padding: .6rem;
		color: $contrastcolor;
	}
}

#kanban {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: calc(100vh - 2.8rem) 2rem;
	height: 100vh;
	grid-gap: .2rem;
	> section {
		display: flex;
		flex-direction: column;
		max-height: 100vh;
		background-color: $mainLight;
		> * {
			padding: .4rem;
		}
		> header {
			background-color: $maincolor;
			color: $contrastcolor;
			h1 {
				margin: .4rem 0 0;
			}
		}
		> section {
			overflow-y: scroll;
			flex-grow: 1;
		}
	}
	> footer {
		grid-column: span 3;
		div {
			display: inline-block
		}
	}
}

@keyframes breathe {
	25% {
		top: .2rem;
	}
	75% {
		top: -.2rem;
	}
}

p, li {
	img {
		display: inline;
		max-width: 2em;
	}
	.key {
		display: inline-block;
	}
}

.visuallyhidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0;
	&.focusable:focus-within {
		position: initial; 
		overflow: initial; 
		clip: initial; 
		height: initial; width: initial; 
		margin: initial; padding: initial; border: initial;
	}
}

.key {
	background-color: $mainLight;
	border: .2rem solid $maincolor;
	padding: .1rem .4rem;
	margin-right: .1rem;
}

.card {
	background-color: lighten($maincolor, 20);
	border-radius: 0 .3rem .3rem .3rem;
	padding: .4rem .6rem;
	margin: 1.4em 0 .2rem;
	transition: .4s;
	font-weight: 300;
	position: relative;
	&::before {
		content: ' ';
		position: absolute;
		top: -1em;
		left: 0;
		height: 1em;
		width: 8em;
		border-radius: .3rem .3rem 0 0;
		background-color: lighten($maincolor, 15);
	}
	&.active {
		font-weight: 400;
		&.pickup {
			font-weight: 500;
			&::before {
				background-color: $maincolor;
			}
			& > a {
				bottom: 0;
			}
			&.full {
				margin: 0;
				+ .card {
					margin-top: 6em;
				}
			}
			.show-detail {
				opacity: 1;
			}
			&.edit {
				.show-detail {
					height: 0;
					margin: 0;
				}
				& > a {
					display: none;
				}
				.details {
					height: auto;
				}
			}
		}
	}
	&.full {
		position: absolute;
		z-index: 70;
		&::before {
			content: ' ';
			position: absolute;
			top: -1.8em;
			left: 0;
			height: 1.8em;
			width: 14em;
			border-radius: .3rem .3rem 0 0;
			background-color: lighten($maincolor, 15);
		}
		// top: 0;
		// bottom: 0;
		// left: 0;
		// right: 0;
		// max-width: 50em;
		// width: 100%;
		// min-height: 50vh;
		// z-index: 50;
		// left: 50%;
		// top: 8vh;
		// transform: translate(-50%, 0);
		// overflow-y: scroll;
		// &::before {
		// 	content: ' ';
		// 	
		// }
		form {
			margin-top: 2rem;
		}
	}
	&.empty {
		text-align: center;
	}
	& + .empty {
		display: none;
	}
	.show-detail {
		opacity: 0;
		font-size: .6em;
		text-align: center;
		overflow: hidden;
		transition: opacity .5s;
		color: rgba($maincolor, .7);
		margin: 0;
	}
	.details {
		font-size: .8em;
		overflow: hidden;
		height: 0;
		color: rgba($maincolor, .8);
	}
	& > a {
		position: relative;
		bottom: -.7em;
		color: $contrastcolor;
		transition: .2s;
		&:focus {
			outline: none;
			color: $maincolor;
		}
	}
	form {
		max-width: 40em;
		margin: 0 auto;
	}
}

label {
	// font-family: $textfont;
	padding: 1rem;
	font-weight: normal;
	display: block;
	font-size: 1.2em;
	background-color: $contrastcolor;
	cursor: pointer;
}
input:not([type=submit]), textarea, select {
	margin-top: .5em;
	padding: 0.5em .6em;
	font-size: 1.4em;
	border: .13rem solid $contrastcolor;
	background-color: rgba($contrastcolor, .05);
	border-radius: .2rem;
	max-width: 20em;
	display: block;
	margin-bottom: 1em;
	color: rgba($textcolor, .7);
	&:not([type=checkbox]):not([type=radio]) {
		width: 100%;
	}
	&.missing {
		border: 1px solid $error;
	}
	&:invalid {
		border-color: $error;
		background-color: rgba($error, .05);
	}
	&:placeholder-shown {
		border-color: rgba($maincolor, .1);
		background-color: rgba($maincolor, .05);
		&:required {
			border-color: $maincolor;
		}
	}
	&:valid:not(:placeholder-shown):not(select) {
		border-color: $confirm;
		background-color: rgba($confirm, .05);
	}
}
input[type=radio], input[type=checkbox] {
	display: inline;
	margin: 0 1rem 0 0;
	// TODO: Radio buttons
	+ label {
		display: inline;
	}
}
textarea {
	min-height: 8em;
}

input[type=submit] {
	background-color: $contrastcolor;
	color: $maincolor;
	padding: .4rem .6rem;
	text-align: right;
	font-size: 1.6em;
}